In [30]:
import pandas as pd
import numpy as np
from wand.image import Image
import os
from tqdm import tqdm
import json

In [31]:
df=pd.read_excel('razm.xlsx')

In [32]:
aa=pd.DataFrame(file_list)

In [33]:
with open('files.json') as f:
    file_list = json.loads(f.read())

for img in tqdm(file_list):
    ny = Image(filename=f'Итоговый датасет/{img}')
    ny.resize(256, 256)
    ny_convert = ny.convert('jpg')
    ny_convert.save(filename=f'img/{img}.jpg')

100%|██████████| 1192/1192 [04:03<00:00,  4.90it/s]

In [34]:
def change_ext(file):
    return f'img/{file}.jpg'


df = df[df['Названия'].isin(file_list)]
df['Названия'] = df['Названия'].map(change_ext)

In [35]:
df['День'] = df['Время суток'].map(lambda a: 1 if a == 1 else 0)
df['Ночь'] = df['Время суток'].map(lambda a: 1 if a == 2 else 0)
df['Рассвет/закат'] = df['Время суток'].map(lambda a: 1 if a == 3 else 0)

df['Зима'] = df['Время года'].map(lambda a: 1 if a == 1 else 0)
df['Весна'] = df['Время года'].map(lambda a: 1 if a == 2 else 0)
df['Лето'] = df['Время года'].map(lambda a: 1 if a == 3 else 0)
df['Осень'] = df['Время года'].map(lambda a: 1 if a == 4 else 0)

df['Лес'] = df['Местность'].map(lambda a: 1 if a == 1 else 0)
df['Город'] = df['Местность'].map(lambda a: 1 if a == 2 else 0)

df = df.drop(columns=['Время суток', 'Время года', 'Местность'])

In [39]:
df.describe()

,Авиа,Автомобили,БПЛА,Водолаз,Кинолог,Кони,Объятия,Шерп,День,Ночь,Рассвет/закат,Зима,Весна,Лето,Осень,Лес,Город
count,1192.000000,1192.000000,1192.000000,1192.000000,1192.000000,1192.000000,1192.000000,1192.000000,1192.000000,1192.000000,1192.000000,1192.000000,1192.000000,1192.000000,1192.000000,1192.000000,1192.000000
mean,0.071309,0.106544,0.031040,0.064597,0.056208,0.219799,0.023490,0.126678,0.667785,0.119966,0.028523,0.207215,0.162752,0.291107,0.106544,0.393456,0.130872
std,0.257448,0.308662,0.173499,0.245917,0.230420,0.414284,0.151517,0.332751,0.471205,0.325059,0.166533,0.405481,0.369294,0.454464,0.308662,0.488722,0.337402
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [37]:
rng = np.random.RandomState()

train = df.sample(frac=0.8, random_state=rng)
test = df.loc[~df.index.isin(train.index)]

In [38]:
train.to_csv('train.csv',index=None)
test.to_csv('test.csv',index=None)